.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: rgb(36, 35, 34);
  margin: 0;
  margin-top: 0;
}

.header, .footer{
  background-color: antiquewhite;
  height: 50px;
  color: rgb(39, 38, 38);
}

.container {
  display: flex;
  flex: 1;
}

.drawer {
  background-color: aqua;
  width: 240px;
}

.main {
  flex: 1;
  background-color: burlywood;
}
